{% load i18n %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>Zakład Usługowy Budowy i Remontu Dróg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic,700italic,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <style type="text/css">
      body {
	background: center 38px url('/static/img/22-blueprint.jpg') no-repeat;
	  
      }
      .sidebar-nav {
	padding: 9px 0;
      }
    </style>
    {{ form.media }}
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
  </head>
  <body>
      <div class="navbar">
	<div class="navbar-inner">
	  <div class="container-fluid">
	    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </a>
	    <a class="brand" href="#">ZUBIRD</a>
	    <div class="nav-collapse">
	      <ul class="nav">
		<li class="active"><a href="#">Strona główna</a></li>
		<li><a href="#kontakt">Kontakt</a></li>
		<li class="divider-vertical"></li>
		<li><a href="#oferta">Oferta</a></li>
	      </ul>
	  </div><!--/.nav-collapse -->
	  </div>
	</div>
      </div>

    <div class="container">
      <div class="hero-unit">
	<h1>Co możemy dla Państwa zrobić?</h1>
        <img class="pull-right" src="/static/img/work.png" alt="">
	<hr>
	<p>Witamy na stronie <strong>Zakładu Usługowego Budowy i Remontu Dróg</strong>. Zapraszamy do zapoznania się z naszą <a href="#oferta">ofertą</a> wraz ze zdjęciami ze zrealizowanych inwestycji.</p>
	<p>W razie jakichkolwiek pytań udostępniliśmy dla Państwa specjalny formularz kontaktowy.</p>
	<p><a class="btn btn-info btn-large" href="#kontakt">Przejdź do formularza &raquo;</a></p>
      </div>

    <div id="oferta" class="row-fluid">
	<h2>Oferta <small>koniecznie zobacz nasze realizacje!</small></h2>
    </div>

    <div class="row-fluid">
	<div class="span6">
	    <h3>Roboty drogowe</h3>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor pretium ipsum, sit amet dictum lacus suscipit eget. Ut in ipsum tortor. Etiam tellus mauris, accumsan at semper vitae, volutpat non dui. Nulla facilisi. Proin neque risus, convallis vitae auctor vitae, feugiat id tellus. Suspendisse potenti. Curabitur quis molestie dui. Cras egestas lorem sed ligula porttitor eget consequat dolor ornare. Vestibulum porttitor suscipit ante sit amet iaculis. Nam laoreet mi eu eros mollis molestie.</p>
	    <ul>
		<li><a href="http://www.bochnia.pl">Miasto Bochnia</a></li>
		<li><a href="http://powiat.bochnia.pl">Powiat Bocheński</a></li>
		<li><a href="http://gmina-bochnia.pl">Gmina Bochnia</a></li>
	    </ul>
	</div>
	
	<div class="span6">
	    <h3>Kostka brukowa</h3>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor pretium ipsum, sit amet dictum lacus suscipit eget. Ut in ipsum tortor. Etiam tellus mauris, accumsan at semper vitae, volutpat non dui. Nulla facilisi. Proin neque risus, convallis vitae auctor vitae, feugiat id tellus. Suspendisse potenti. Curabitur quis molestie dui. Cras egestas lorem sed ligula porttitor eget consequat dolor ornare. Vestibulum porttitor suscipit ante sit amet iaculis. Nam laoreet mi eu eros mollis molestie.</p>
		  <ul class="thumbnails">
		    <li class="span3">
		      <a class="thumbnail" href="#">
			<img alt="" src="/static/img/kostka.jpg"/>
		      </a>
		    </li>
		    <li class="span3">
		      <a class="thumbnail" href="#">
			<img alt="" src="/static/img/kostka.jpg"/>
		      </a>
		    </li>
		  </ul>
	 </div>
    </div>
   <div class="row-fluid">
    	<div class="span6">
	    <h3>Restauracja i wykańczanie wnętrz</h3>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor pretium ipsum, sit amet dictum lacus suscipit eget. Ut in ipsum tortor. Etiam tellus mauris, accumsan at semper vitae, volutpat non dui. Nulla facilisi. Proin neque risus, convallis vitae auctor vitae, feugiat id tellus. Suspendisse potenti. Curabitur quis molestie dui. Cras egestas lorem sed ligula porttitor eget consequat dolor ornare. Vestibulum porttitor suscipit ante sit amet iaculis. Nam laoreet mi eu eros mollis molestie.</p>
		  <ul class="thumbnails">
		    <li class="span3">
		      <a class="thumbnail" href="#">
			<img alt="" src="/static/img/kostka.jpg"/>
		      </a>
		    </li>
		    <li class="span3">
		      <a class="thumbnail" href="#">
			<img alt="" src="/static/img/kostka.jpg"/>
		      </a>
		    </li>
		  </ul>
	</div>
	
	<div class="span6">
	    <h3>Remonty generalne budynków</h3>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor pretium ipsum, sit amet dictum lacus suscipit eget. Ut in ipsum tortor. Etiam tellus mauris, accumsan at semper vitae, volutpat non dui. Nulla facilisi. Proin neque risus, convallis vitae auctor vitae, feugiat id tellus. Suspendisse potenti. Curabitur quis molestie dui. Cras egestas lorem sed ligula porttitor eget consequat dolor ornare. Vestibulum porttitor suscipit ante sit amet iaculis. Nam laoreet mi eu eros mollis molestie.</p>
		  <ul class="thumbnails">
		    <li class="span3">
		      <a class="thumbnail" href="#">
			<img alt="" src="/static/img/kostka.jpg"/>
		      </a>
		    </li>
		    <li class="span3">
		      <a class="thumbnail" href="#">
			<img alt="" src="/static/img/kostka.jpg"/>
		      </a>
		    </li>
		  </ul>
	 </div>
   </div>
  
    <div id="kontakt" class="row-fluid">
	<h2>Skontaktuj się z nami <small>jeszcze dzisiaj!</small></h2>
    </div>

    <div class="row-fluid">
      <div class="span6">
		<form class="form-horizontal" method="POST" action="/send/">
		  <fieldset>
	 	 	{% csrf_token %}
	 	 	
	 	 	<div class="control-group">
            	{{ form.username.errors }}
            	<label for="id_username" class="control-label">Imię i nazwisko</label>
            	<div class="controls">
            	{{ form.username }}
            	</div>
			</div>
	 	 	
	 	 	<div class="control-group">
            	{{ form.email.errors }}
            	<label for="id_email" class="control-label">Adres e-mail</label>
            	<div class="controls">
            	{{ form.email }}
            	</div>
			</div>
	 	 	
	  		{% for field in form %}
        	<div class="control-group">
            	{{ field.errors }}
            	{{ field.label_tag }}
            	<div class="controls">
            	{{ field }}
            	</div>
			</div>
    		{% endfor %}
	  		<div class="form-actions">
	  			<button type="submit" class="btn btn-primary"><i class="icon-envelope icon-white"></i> Wyślij</button>
	  		</div>
	  	  </fieldset>
		</form>
      </div>

      <div class="span4 offset2">
	<h3>Adres siedziby firmy</h3>
	<p>Jeśli preferujecie Państwo kontakt osobisty, za pomocą telefonu lub poczty tradycyjnej</p>
	<address><strong>ZUBIRD Piotr Jopek</strong><br>
	ul. Edwarda Windakiewicza 18/48<br>
	32-700 Bochnia <br>
	Tel. kom. 608 671 115</address>
	
      </div>

    </div>

   </div>

   <div class="container">
      <footer class="footer">
	<p class="pull-right"><a href="#">Wróć na początek strony</a></p>
	<p>&copy; ZUBIRD 2012</p>
	<p><small>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</small></p>
	<p><small>Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</small></p>
      </footer>
  </div>
  </body>
</html>
